@model Charity.Models.Organisation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organisation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganisationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrganisationCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganisationZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationZipCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganisationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
