@model IEnumerable<Charity.Models.Blog>

@{
    ViewBag.Title = "List";
}
<div class="row">
    <div style="padding:20px;">

        <div class="row container">
            @{
                var ModelList = Model.Take(4).ToList();

                if (ModelList.Count == 0)
                {
                    <p class="text-danger" style="font-weight:900;font-size:20px;">No Home found.</p>
                }
                else if (ModelList.Count == 4)
                {
                    <div class="row carousel-holder" data-interval="2000" style="height: 60px;width:100%">
                        <div class="col-md-12">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    @*<li data-target="#carousel-example-generic" data-slide-to="3"></li>*@
                                </ol>
                                <div class="carousel-inner">

                                    @{
                                        for (int i = 0; i < 3; i++)
                                        {
                                            if (i == 0)
                                            {
                                                                        <div class="item active">
                                                                            <a href="@Url.Action("Details", "Home", new { id = @ModelList[i].BlogId })">
                                                                                <img title="@ModelList[i].Title" class="slide-image" src="~/Images/@ModelList[i].Picture" alt="@ModelList[i].Title" style="height:450px;width:120%" />
                                                                            </a>
                                                                            <div class="carousel-caption">
                                                                             <h3 style="color:#fff;">@ModelList[i].Intro</h3>
                                                                         </div>
                                                                        </div>

                                            }
                                            else
                                            {
                                <div class="item">
                                    <a href="@Url.Action("Details", "Home", new { id = @ModelList[i].BlogId })">
                                        <img title="@ModelList[i].Title" class="slide-image" src="~/Images/@ModelList[i].Picture" alt="@ModelList[i].Title" style="height:450px;width:1200px;" />
                                    </a>
                                    <div class="carousel-caption">
                                        <h3 style="color:#fff;">@ModelList[i].Intro</h3>
                                    </div>
                                </div>
                                            }
                                        }
                                    }
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>

    </div>
</div>
<style>
    .carousel-content {
        position: absolute;
        bottom: 10%;
        left: 5%;
        z-index: 20;
        color: white;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
</style>
